<%= javascript_include_tag "shared/cc_list" %>
<h2>CC LIST</h2>
<div class="text">
  <ul class="clearfix" id='cc_list'>
    <% task.task_subscriptions.each do |ts| %>
      <%= render :partial => "task_subscription_name",
                 :locals => {:ts => ts} %>
    <% end %>
  </ul>
  <% if_any(task.unsubscribed_users) do |users| %>
    <%= link_to_function "Add to List",
      "$(this).parent().addClass('adding')", :class => "add_link" %>
    <% form_for :task_subscription, :url => task_subscriptions_path,
                :html => {:id => 'cc_form'} do |f| %>
       <%= f.hidden_field :task_id, :value => task.id %>
       <%= f.select :user_id, users.map{|u| [u.name, u.id]},
         :include_blank => "Add a name..." %>
    <% end %>
  <% end %>
</div>
