<div class="task_field" id="comments">
  <%= render :partial => 'cc_list', :locals => {:task => task} %>
  <ul class="events_list">
    <% task.comments_and_edits.each do |comment_or_edit| %>
      <li class="<%= comment_or_edit.class.name.downcase %> clearfix">
        <% if comment_or_edit.is_a?(Comment) %>
          <%= render :partial => "/shared/comment",
                     :locals => {:comment => comment_or_edit} %>        
        <% else %>
          <div class="date">
            <%= comment_or_edit.created_at.getlocal.strftime("%b %e %I:%M%p") %>
          </div>
          <div class="text">
          <%= render :partial => "/task_edits/#{comment_or_edit.field}_edit",
                     :locals => {:edit => comment_or_edit} %>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
  <%= render :partial => "/shared/comment_form",
    :locals => {:commentable => task, :redirect_url => task_path(task)} %>
</div>
