<%= f.error_messages %>
<%= f.hidden_field :parent_id %>
<p>
  <%= f.label :title, "Title:" %><br />
  <%= f.text_field :title %>
</p>
<p>
  <%= f.label :description, "Description:" %><br />
  <%= f.text_area :description %>
</p>
<ul class="secondary_fields clearfix">
  <li>
    <%= f.label :project_id, "Initiative:" %><br />
    <%= f.select :project_id, Project.all_for_select,
      :include_blank => "None" %>
  </li>
  <li>
      <%= f.label :assignee_id, "Assign To:" %><br />
      <%= f.select :assignee_id, User.sorted.map{|u| [u.name, u.id]},
        :include_blank => "Nobody" %>
  </li>
  <li>
    <%= f.label :kind, "Kind:" %><br />
    <%= f.select :kind, Task::KINDS.map{|k| [k.capitalize, k]},
      :include_blank => "" %>
  </li>      
  <li>
    <%= f.label :feature_id, "Feature:" %><br />
    <%= f.select :feature_id, Feature.all.map{|feature| [feature.name, feature.id]}.sort,
      :include_blank => "" %>
  </li>
</ul>
<ul class="secondary_fields clearfix">
  <li>
    <%= f.label :estimate, "Estimate:" %><br />
    <%= f.text_field :estimate %>
  </li>
  <li>
    <%= f.label :status, "Prioritized:" %><br />
    <%= f.check_box :status, {}, "prioritized", "parked" %>
  </li>
  <li>
    <%= f.label :due_date, "Due Date:" %><br />
    <%= check_box_tag :use_due_date, "1", !!task.due_date,
      :autocomplete => :off, :class => "use_due_date" %>
    <span id="due_date_field_container"<%=
      ' style="display:none"' unless task.due_date %>>
      <%= f.date_select :due_date, :order => [:month, :day] %>
    </span>
  </li>
</ul>
