<%= f.error_messages %>
<%= f.hidden_field :parent_id %>
<%= f.hidden_field :status,     :value => "prioritized" %>
<%= f.hidden_field :creator_id, :value => viewer.id %>
<p>
  <label for="task_title">Title:</label><br />
  <%= f.text_field :title %>
</p>
<p>
  <label for="task_description">Description:</label><br />
  <%= f.text_area :description %>
</p>
<ul class="clearfix" id="secondary_fields">
  <% if task.project_id %>
    <%= f.hidden_field :project_id %>
  <% else %>
    <li>
      <label for="task_project_id">Initiative:</label><br />
      <%= f.select :project_id, Project.all_for_select,
        :include_blank => "None" %>
    </li>
  <% end %>
  <li>
    <label for="task_assignee_id">Assign To:</label><br />
      <%= f.select :assignee_id, User.sorted.map{|u| [u.name, u.id]},
        :include_blank => "Nobody" %>
  </li>
  <li>
    <label for="task_kind">Kind:</label><br />
    <%= f.select :kind, Task::KINDS.map{|k| [k.capitalize, k]},
      :include_blank => "" %>
  </li>      
  <li>
    <label for="task_due_date">Due Date:</label><br />
      <%= f.check_box :use_due_date, :autocomplete => :off  %>
      <span id="due_date_field_container"<%=
        ' style="display:none"' unless task.due_date %>>
        <%= f.date_select :due_date, :order => [:month, :day] %>
      </span>
  </li>
</ul>
