<%= stylesheet_link_tag "tasks/new" %>
<%= javascript_include_tag "tasks/form" %>

<% @title = "Edit Task" %>

<div id="form_container">
  <% form_for(:task, @task, :url => task_path(@task),
    :html => {:method => :put}) do |f| %>
    <%= render :partial => "task_form_fields",
               :locals => {:f => f, :task => @task} %>
    <div class="clearfix" id="submit_tags">
       <%= link_to 'Back to Task', task_path(@task) %> or
       <%= f.submit "Save Changes" %>
    </div>
  <% end %>
</div>
