<%= stylesheet_link_tag "tasks/new" %>
<%= javascript_include_tag "tasks/form" %>

<% @title = "Edit Task" %>

<div id="form_container">
  <% form_for(:task, @task, :url => task_path(@task),
    :html => {:method => :put}) do |f| %>
    <%= render :partial => "task_form_fields",
               :locals => {:f => f, :task => @task} %>
    <div class="clearfix" id="submit_tags">
      <div class="right">
        <%= link_to "Delete Task", task_path(@task), :method => :delete,
          :confirm => "Are you sure you want to delete this task?" %>
      </div>
      <%= f.submit "Save Changes" %> or
      <%= link_to 'Back to Task', task_path(@task) %>
    </div>
  <% end %>
</div>
