<%= stylesheet_link_tag "tasks/new" %>
<%= stylesheet_link_tag "shared/cc_list" %>
<%= javascript_include_tag "tasks/form" %>
<%= javascript_include_tag "shared/cc_list" %>

<% @title = "Edit Task" %>

<div id="form_container">
  <% form_for(@task) do |f| %>
    <%= render :partial => "task_form_fields",
               :locals => {:f => f, :task => @task} %>
    <ul class="clearfix" id="submit_tags">
      <li><%= f.submit "Save Changes" %></li>
      <li>or <%= link_to 'Back to Task', task_path(@task) %></li>
    </ul>
  <% end %>
</div>
