<%= javascript_include_tag 'tasks/index' %>
<%= stylesheet_link_tag 'tasks/index' %>

<% @projects.each do |project| %>
<% next if project.task_list_items.empty? %>
<script type="text/javascript">
$(function () {
  Tasks.makeSortable("project_<%= project.id %>_tasks");
});
</script>
<table id="project_<%= project.id %>_tasks" class="task_list">
  <thead>
    <tr>
      <th colspan="4"><%= h project.title %></th>
    </tr>
  </thead>
  <tbody>
    <% project.task_list_items.each do |list_item| %>
    <% task = list_item.task %>
    <tr id="list_item_<%= list_item.id %>">
      <td class="drag_handle"><%= image_tag 'drag_handle.gif' %></td>
      <td class="task_assignee"><%= h task.assignee.name %></td>
      <td class="task_name"><%= link_to h(task.title), task_path(task) %></td>
      <td class="task_estimate"><%= task.estimate %></td>
      <td class="task_due"><%=
        task.due_date.strftime("%b %e") if task.due_date %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>
