<%= stylesheet_link_tag "shared/form" %>
<%= stylesheet_link_tag "tasks/new" %>
<%= stylesheet_link_tag "shared/cc_list" %>

<%= javascript_include_tag "tasks/new" %>
<%= javascript_include_tag "tasks/form" %>
<script type="text/javascript">
  var NAME_DATA = <%= (User.active.map do |u|
    [u.name, u.id]
  end).transpose.to_json %>;
</script>
<h1>Add a Task</h1>
<div id="form_container">
  <% form_for(@task) do |f| %>
    <% if @task.parent_id %>
      <% if @task.project_id %>
        <p>Project: <strong><%= link_to_project @task.project %></strong></p>
      <% end %>
      <p>Deliverable: <strong><%= link_to_task @task.parent %></strong></p>
    <% end %>

    <%= f.hidden_field :status, :value => "prioritized" %>
    <%= f.hidden_field :creator_id, :value => viewer.id %>

    <%= render :partial => "task_form_fields",
               :locals => {:f => f, :task => @task} %>

     <div id="cc_list_container">
       <label for='cc_text'>CC List:</label><br />
       <ul id='cc_list'>
         <% @task.subscriptions.each do |cc| %>
           <li>
             <%= cc.user.name %>
             <%= hidden_field_tag 'cc[]', cc.user.id %></li>
           </li>
         <% end %>
       </ul>
       <%= text_field_tag 'cc_text' %>
     </div>
               
    <div class="clearfix" id="submit_tags">
      <%= f.submit "Create Task" %>
      <%= f.submit "Create and Add Another" %>
    </div>
  <% end %>
</div>
