<%= stylesheet_link_tag "shared/form" %>
<%= stylesheet_link_tag "tasks/new" %>
<%= stylesheet_link_tag "shared/cc_list" %>

<%= javascript_include_tag "tasks/new" %>

<h1>Add a Task</h1>
<div id="form_container">
  <% form_for(@task) do |f| %>
    <%= render :partial => "task_form_fields",
               :locals => {:f => f, :task => @task} %>
    <ul class="clearfix" id="submit_tags">
      <li><%= f.submit "Create Task" %></li>
      <li><%= f.submit "Create and Add Another" %></li>
    </ul>
  <% end %>
</div>
