<%= stylesheet_link_tag "shared/form" %>
<%= stylesheet_link_tag "tasks/new" %>

<%= javascript_include_tag "tasks/new" %>

<h1>Add a <%= params[:kind].capitalize %></h1>
<div id="form_container">
  <% form_for(@task) do |f| %>
    <%= f.error_messages %>
    <%= f.hidden_field :status, :value => "assigned" %>
    <p>
      <label for="title">Title:</label><br />
      <%= f.text_field :title %>
    </p>
    <p>
      <label for="description">Description:</label><br />
        <%= f.text_area :description %>
    </p>
    <%= f.hidden_field :kind, :value => params[:kind] %>
    <ul class="clearfix" id="secondary_fields">
      <li>
        <label for="description">Project:</label><br />
        <%= f.select :project_id, Project.all_for_select, :prompt => "None" %>
      </li>
      <li>
        <label for="description">Assign To:</label><br />
          <%= f.select :assignee_id, User.all.map{|u| [u.name, u.id]},
            :prompt => "Nobody",
            :selected => @task.assignee_id || params[:assignee_id].to_i %>
      </li>
      <li>
        <label for="description">Due Date:</label><br />
          <%= f.date_select :due_date, :start_year => Time.now.year,
            :end_year => Time.now.year + 1, :order => [:month, :day, :year] %>
      </li>
    </ul>
    <ul class="clearfix" id="submit_tags">
      <li><%= f.submit "Create #{params[:kind].capitalize}" %></li>
      <li><%= f.submit "Create and Add Another" %></li>
    </ul>
  <% end %>
</div>