<h1>Add a <%= params[:kind].capitalize %></h1>
<% form_for(@task) do |f| %>
  <%= f.error_messages %>
  <p>
    <label for="title">Title:</label><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <label for="description">Description:</label><br />
      <%= f.text_area :description %>
  </p>
  <% if params[:kind] %>
    <%= f.hidden_field :kind, :value => params[:kind] %>
  <% else %>
    <p>
      <label for="description">Kind:</label><br />
        <%= f.select :kind, [["Task", "task"], ["Bug", "bug"]] %>
    </p>
  <% end %>
  <p>
    <label for="description">Project:</label><br />
    <%= f.select :project_id, Project.all.map{|p| [p.title, p.id]} %>
  </p>
  <p>
    <label for="description">Assign To:</label><br />
      <%= f.select :assignee_id, User.all.map{|u| [u.name, u.id]} %>
  </p>
  <p>
    <label for="description">Due Date:</label><br />
      <%= f.date_select :due_date %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', tasks_path %>
