<%= stylesheet_link_tag "tasks/show" %>
<%= javascript_include_tag "plugins/jquery.simplemodal-1.2.2.js"%>
<%= javascript_include_tag "tasks/show" %>
<% 
  @title = @task.title 
  @hide_layout_title = true
%>

<% if @task.project_id || @task.parent_id %>
  <div id="breadcrumbs">
    <% if @task.project_id %>
      <%= link_to @task.project.title.upcase, project_path(@task.project) %>
    <% end %>
    <% if @task.project_id && @task.parent_id %>
      &rarr;
    <% end %>
    <% if @task.parent_id %>
      <%= link_to_task @task.parent %>
    <% end %>
      &rarr; <strong><%= @task.displayed_type %> #<%= @task.id %></strong>
  </div>
<% end %>

<div id="task_container">
  <div id="narrow_col">
    <div id="task_identifier">
      <div class="type"><%= @task.displayed_type %></div>
      <hr />
      <div class="num">
        <span class="pound">#</span><%= @task.id %>
      </div>
    </div>
    <div class="<%= @task.status.downcase %>" id="status">
      <%= @task.status.capitalize %>      
    </div>
  </div>
  <div id="task">
    <div id="task_info">
      <div id="task_primary_info">
        <h1><%= @title %></h1>
        <div id="task_meta">
          <% if !@task.kind.blank? && @task.kind != "task" %>
            <%= @task.kind.capitalize %> |
          <% end %>
          Created by <%= link_to_user @task.creator %>
          at <%= @task.created_at.strftime("%b %e %I:%m%p") %>
          <% if @task.feature_id %>
            | Feature: <%= @task.feature.name %>
          <% end %>
        </div>
        <div id="description">
          <% if @task.description.blank? %>
            <% form_for(:task, @task, :html => {:method => :put}) do |f| %>
              <%= f.text_area :description, :rows => nil, :tabindex => 1 %>
              <%= f.submit "Save Description", :tabindex => 2 %>
            <% end %>
          <% else %>
              <%= format_text(@task.description) %>
          <% end %>
        </div>
      </div>
      <div class="clearfix" id="task_logistics_bar">
        <% unless @task.completed? %>
          <%= link_to image_tag("mark-complete.gif"), "",
            :class => "call_to_action", :id => "complete_link" %>
        <% end %>
        <ul class="clearfix" id="task_logistics">
          <% if @task.project_id %>
            <li>
              <h3>INITIATIVE</h3>
              <%= link_to_project @task.project %>
            </li>
          <% end %>
          <% if @task.assignee_id %>
            <li>
              <h3>Assigned To</h3>
              <%= link_to_user @task.assignee %>
            </li>
          <% end %>
          <% if @task.due_date %>
            <li>
              <h3>DUE DATE</h3>
              <%= @task.due_date.strftime("%b %e") %>
            </li>
          <% end %>
          <% if @task.estimate %>
            <li>
              <h3>ESTIMATE</h3>
              <%= pluralize(@task.estimate, "hour") %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <% if @task.children.any? %>
      <div class="task_field clearfix" id="subtasks">
        <h2>TASKS</h2>
        <ul>
          <% @task.children.each do |child| %>
            <li class="clearfix">
              <% if child.completed? %>
                <%= image_tag 'check.gif' %>
              <% else %>
                <% form_tag complete_task_path(child) do %>
                  <%= check_box_tag "complete_task_id", false, false,
                    :onclick =>
                      "$(this).parents('form').submit(); return false;" %>
                <% end %>
              <% end %>
              
              <%= link_to_task child %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= render :partial => "comments_and_edits", :locals => {:task => @task} %>
    <div class='task_field' id='cc'>
      <%= render :partial => 'cc_list', :locals => {:task => @task} %>
    </div>
    <div class="clearfix" id="task_links">
      <div id="primary_action">
        <% if @task.completed? %>
          <%= link_to "Mark Incomplete", prioritize_task_path(@task),
             :method => :post %>
        <% end %>
      </div>
      <% if @task.is_a?(Deliverable) %>
        <%= link_to "Add Task to Deliverable",
          new_task_path(:task => {
            :parent_id => @task.id, :project_id => @task.project_id
          }) %> -
      <% end %>
      <%= link_to "Edit #{@task.displayed_type}", edit_task_path(@task) %> - 
      <%= link_to "Delete", task_path(@task),
        :confirm => "Are you sure you want to delete this task?",
        :method => :delete %>
    </div>
  </div>
</div>

<%= render :partial => "confirm_completion_dialog",
           :locals => {:task => @task} %>
