<%= stylesheet_link_tag "tasks/show" %>
<% 
  @title = @task.title 
  @hide_layout_title = true
%>

<div id="task_container">
  <div id="task">
    <h1 class="task_field">
      <span class="kind">
        <% if @task.project_id %>
          <%= @task.project.title.upcase %>
        <% end %>
        <% if @task.kind != "task" %>
          <%= @task.kind.upcase %>
        <% else %>
          &nbsp;
        <% end %>
      </span>
      <%= @title %>
    </h1>
    <ul class="task_field clearfix" id="secondary_fields">
      <li>
        <h2>STATUS</h2>
        <%= @task.status.capitalize %>
      </li>
      <li>
        <h2>CREATOR</h2>
        <%= link_to @task.creator.name, user_path(@task.creator) %>
      </li>
      <li>
        <% if @task.assignee_id %>
          <h2>ASSIGNED TO</h2>
          <%= link_to @task.assignee.name, user_path(@task.assignee) %>
        <% end %>
      </li>
      <li>
        <% if @task.due_date %>
          <h2>DUE DATE</h2>
          <%= @task.due_date.strftime("%b %e") %>
        <% end %>
      </li>
      <li>
        <% if @task.estimate %>
          <h2>ESTIMATE</h2>
          <%= pluralize(@task.estimate, "hour") %>
        <% end %>
      </li>
    </ul>
    <% unless @task.description.blank? %>
      <div class="task_field" id="description">
        <h2>DESCRIPTION</h2>
        <%= @task.description %>
      </div>
    <% end %>
  </div>
  <p>
    <%= link_to 'Edit Task', edit_task_path(@task) %>
  </p>
</div>