<%= stylesheet_link_tag "tasks/show" %>
<% 
  @title = @task.title 
  @hide_layout_title = true
%>

<div id="task_container">
  <div id="task">
    <h1 class="task_field">
      <span class="kind">
        <% if @task.project_id %>
          <%= link_to @task.project.title.upcase, project_path(@task.project) %>
        <% end %>
        <% if @task.kind != "task" %>
          <%= @task.kind.upcase %>
        <% end %>
      </span>
      <%= @title %>
    </h1>
    <ul class="task_field clearfix" id="secondary_fields">
      <li>
        <h2>STATUS</h2>
        <%= @task.status.capitalize %>
      </li>
      <li>
        <h2>CREATOR</h2>
        <%= link_to_user @task.creator %>
      </li>
      <li>
        <% if @task.assignee_id %>
          <h2>ASSIGNED TO</h2>
          <%= link_to_user @task.assignee %>
        <% end %>
      </li>
      <li>
        <% if @task.due_date %>
          <h2>DUE DATE</h2>
          <%= @task.due_date.strftime("%b %e") %>
        <% end %>
      </li>
      <li>
        <% if @task.estimate %>
          <h2>ESTIMATE</h2>
          <%= pluralize(@task.estimate, "hour") %>
        <% end %>
      </li>
    </ul>
    <% unless @task.description.blank? %>
      <div class="task_field" id="description">
        <h2>DESCRIPTION</h2>
        <%= format_text(@task.description) %>
      </div>
    <% end %>
    <div id="comments">
      <h2>COMMENTS</h2>
      <ul id="comments_list">
        <% @task.comments.each do |comment| %>
          <li class="clearfix">
            <div class="meta">
              <strong><%= link_to_user(comment.author) %></strong><br />
              <span class="date">
                <%= comment.created_at.strftime("%b %e") %>
              </span>
            </div>
            <div class="text"><%= format_text(comment.text) %></div>
          </li>
        <% end %>
      </ul>
      <% form_for :comment, @comment,
        :url => {:controller => "comments", :action => :create} do |f| %>
        <%= f.hidden_field :task_id   %>
        <%= f.hidden_field :author_id %>
        <%= f.text_area :text %>
        <%= f.submit "Save Comment" %>
      <% end %>
    </div>
  </div>
  <div id="task_links">
    <div id="primary_action">
      <% if @task.completed? %>
        <%= link_to "Mark Incomplete", prioritize_task_url(@task),
           :method => :post %>
      <% else %>
        <%= link_to image_tag("mark-complete.gif"),
          complete_task_url(@task), :method => :post, :class => "call_to_action"
        %>
      <% end %>
    </div>
    <%= link_to 'Edit Task', edit_task_path(@task) %> - 
    <%= link_to "Delete Task", task_path(@task),
      :confirm => "Are you sure you want to delete this task?",
      :method => :delete %>
  </div>
</div>