<%= stylesheet_link_tag "tasks/show" %>
<%= javascript_include_tag "plugins/jquery.simplemodal-1.2.2.js"%>
<%= javascript_include_tag "tasks/show" %>
<% 
  @title = @task.title 
  @hide_layout_title = true
%>

<% if @task.project_id || @task.parent_id %>
  <div id="breadcrumbs">
    <% if @task.project_id %>
      <%= link_to @task.project.title.upcase, project_path(@task.project) %>
    <% end %>
    <% if @task.project_id && @task.parent_id %>
      &rarr;
    <% end %>
    <% if @task.parent_id %>
      <%= link_to_task @task.parent %>
    <% end %>
      &rarr; <strong><%= @task.displayed_type %> #<%= @task.id %></strong>
  </div>
<% end %>

<div id="task_container">
  <div id="narrow_col">
    <div id="task_identifier">
      <div class="type"><%= @task.displayed_type %></div>
      <hr />
      <div class="num">
        <span class="pound">#</span><%= @task.id %>
      </div>
    </div>
    <div id="status_container">
      <div class="<%= @task.status.downcase %> editable" id="status">
        <%= @task.status.capitalize %>
      </div>
      <% form_for :task, @task, :html => {:method => :put},
        :url => update_status_task_path(@task) do |f| %>
        <%= f.select :status, [
          ["Prioritized", "prioritized"], ["Parked", "parked"]
        ] %>
      <% end %>
    </div>
  </div>
  <div id="task">
    <div id="task_info">
      <div id="task_primary_info">
        <h1>
          <span class="editable"><%= @title %></span>
          <% form_for :task, @task, :html => {:method => :put},
            :url => update_title_task_path(@task) do |f| %>
            <%= f.text_field :title %>
          <% end %>
        </h1>
        <div id="task_meta">
          <% if !@task.kind.blank? && @task.kind != "task" %>
            <%= @task.kind.capitalize %> |
          <% end %>
          Created by <%= link_to_user @task.creator %>
          at <%= @task.created_at.getlocal.strftime("%b %e %I:%m%p") %>
          <% if @task.feature_id %>
            | Feature: <%= @task.feature.name %>
          <% end %>
        </div>
        <div id="description">
          <div class="editable<%= ' empty' if @task.description.blank? %>">
            <%= format_text(@task.description) %>
          </div>
          <% form_for(:task, @task, :html => {:method => :put},
            :url => update_description_task_path(@task)) do |f| %>
            <%= f.text_area :description, :rows => nil, :tabindex => 1 %>
            <%= f.submit "Save Description", :tabindex => 2 %>
          <% end %>
        </div>
      </div>
      <div class="clearfix" id="task_logistics_bar">
        <% unless @task.completed? %>
          <%= link_to image_tag("mark-complete.gif"), "",
            :class => "call_to_action", :id => "complete_link" %>
        <% end %>
        <ul class="clearfix" id="task_logistics">
          <% if @task.project_id %>
            <li>
              <h3>INITIATIVE</h3>
              <%= link_to_project @task.project %>
            </li>
          <% end %>
          <% if @task.assignee_id %>
            <li>
              <h3>Assigned To</h3>
              <%= link_to_user @task.assignee %>
            </li>
          <% end %>
          <% if @task.due_date %>
            <li>
              <h3>DUE DATE</h3>
              <%= @task.due_date.strftime("%b %e") %>
            </li>
          <% end %>
          <% if @task.estimate %>
            <li>
              <h3>ESTIMATE</h3>
              <%= pluralize(@task.estimate, "hour") %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <%= render :partial => "subtasks", :locals => {:task => @task} %>
    <%= render :partial => "comments_and_edits", :locals => {:task => @task} %>
    <%= render :partial => "task_links", :locals => {:task => @task} %>
  </div>
</div>

<%= render :partial => "confirm_completion_dialog",
           :locals => {:task => @task} %>
