<%= stylesheet_link_tag 'shared/header' %>
<%= stylesheet_link_tag "shared/task_list" %>
<%= stylesheet_link_tag "shared/task_filter" %>
<%= javascript_include_tag "shared/task_list" %>
<%= javascript_include_tag "shared/task_filter" %>

<% @title = "Recently Created Tasks" %>

<div id="task_list">
  <%= render :partial => "/shared/task_filters" %>
  <%= render :partial => "/shared/task_list",
            :locals => {:title => "CREATED TASKS (#{@tasks.size})",
                        :tasks => @tasks,
                        :context => "User"} %>
</div>