<%= stylesheet_link_tag "shared/header" %>
<%= stylesheet_link_tag 'shared/task_list' %>
<%= javascript_include_tag 'shared/task_list' %>

<script type="text/javascript">
  var AUTOCOMPLETE_DATA = <%= ((Task::KINDS.map do |kind|
    [kind, "kind", kind]
  end) + (Project.all.map do |project|
    [h(project.title), "project_id", project.id]
  end)).transpose.to_json %>;
  <% if viewer == @user %>
    var PRIORITIZED_TASK_COUNT = "<%= @user.task_list.size %>";
  <% end %>
</script>

<% @title = viewer == @user ? "Your Tasks" : "#{@user.name.possessive} Tasks"%>

<%= render :partial => "user_task_list_tabs", :locals => {:user => @user} %>

<div id="task_list">
  <% 
    task_object =
      PrivateTask.new(:status => "prioritized", :assignee_id => @user.id)
  %>
  <%= render :partial => "/shared/task_list",
             :locals => {:title       => "",
                         :tasks       => @user.task_list,
                         :context     => @user.class.name,
                         :task_object => task_object,
                         :highlight_deadlines => true} %>

  <%= render :partial => "/shared/task_list",
             :locals => {
               :title => "COMPLETED TODAY (#{@user.completed_tasks_today.size})",
               :tasks => @user.completed_tasks_today,
               :context => @user.class.name,
               :unsortable => true} %>

</div>
