<%= stylesheet_link_tag "shared/header" %>
<%= stylesheet_link_tag 'shared/task_list' %>
<%= stylesheet_link_tag 'shared/task_nav' %>
<%= javascript_include_tag 'shared/task_list' %>
<%= javascript_include_tag 'shared/task_nav' %>


<%= render :partial => "/shared/autocomplete_data",
           :locals => {:fields => [:kind, :project]} %>

<% if viewer == @user %>
  <script type="text/javascript">
    var PRIORITIZED_TASK_COUNT = "<%= @user.task_list.size %>";
  </script>
<% end %>

<% @title = viewer == @user ? "Your Tasks" : "#{@user.name.possessive} Tasks"%>

<%= render :partial => "user_task_list_tabs", :locals => {:user => @user} %>

<div id="task_list">
  <% 
    task_object =
      PrivateTask.new(:status => "prioritized", :assignee_id => @user.id)
  %>
  <%= render :partial => "/shared/task_list",
             :locals => {:title       => "",
                         :tasks       => @user.task_list,
                         :context     => @user.class.name,
                         :task_object => task_object,
                         :highlight_deadlines => true,
                         :table_id    => "main_task_list"} %>
  <% 
    completed_task_object =
      HindsightTask.new(:status => "completed", :assignee_id => @user.id)
  %>
  <%= render :partial => "/shared/task_list",
             :locals => {
               :title => "COMPLETED TODAY (#{@user.completed_tasks_today.size})",
               :tasks => @user.completed_tasks_today,
               :context => @user.class.name,
               :task_object => completed_task_object,
               :unsortable => true} %>

</div>
