<% form_for :comment, Comment.form_for_object(commentable, viewer),
  :url => {:controller => "comments", :action => :create},
  :html => {:multipart => true, :id => "add_comment_form"} do |f| %>
  <%= f.hidden_field :commentable_id %>
  <%= f.hidden_field :commentable_type %>
  <%= f.hidden_field :author_id %>
  <%= hidden_field_tag :redirect_url, redirect_url %>
  <%= f.text_area :text, :rows => nil, :cols => nil, :tabindex => 10 %>
  <div class="submit_bar clearfix">
    <div class="file_field">
      <label>Add a picture:</label> <%= f.file_field :image,
                                                     :tabindex => 12 %>
    </div>
    <%= f.submit "Save", :tabindex => 11 %>
  </div>
<% end %>
