<div id="deferred_task_dialog" style="display: none">
  <h2>Defer Task</h2>
  <p><strong>Park this task, and then reprioritize it:</strong></p>
  <% form_for :deferred_task, :url => deferred_tasks_path do |f| %>
    <%= f.hidden_field :task_id %>
    <%= f.hidden_field :creator_id, :value => viewer.id %>
    <ul>
      <% t0 = Chronic.parse("tomorrow 6:00am") %>
      <li>
        <%= f.radio_button :prioritize_at, t0,
          :id => "deferred_task_prioritize_at_0", :checked => "checked" %>
        <%= f.label "prioritize_at_0",
          "Tomorrow <span class='details'>" +
          "(#{t0.strftime("%b %e %I:00%p")})</span>" %>
      </li>
      <% t1 = Chronic.parse("next monday 6:00am") %>
      <%# Chronic bug. next monday does not always return true. %>
      <% if t1 && t0 != t1 %>
        <li>
          <%= f.radio_button :prioritize_at, t1,
            :id => "deferred_task_prioritize_at_1" %>
          <%= f.label "prioritize_at_1",
            "Next week <span class='details'>" +
            "(#{t1.strftime("%b %e %I:00%p")})</span>" %>
        </li>
      <% end %>
      <li>
        <%= f.radio_button :prioritize_at, "custom" %>
        <%= f.label "prioritize_at_", "At another time:" %>
        <%= text_field_tag(:custom_time, "", :tabindex => -2) %>
        <span class="example">
          e.g. &ldquo;tomorrow noon&rdquo; or &ldquo;1 week hence&rdquo;
        </span>
      </li>
    </ul>

    <div class="submit">
      <%= link_to "Cancel", "",
        :class => "simplemodal-close", :title => "Cancel", :tabindex => -1 %> or
      <%= submit_tag "Save" %>
    </div>
  <% end %>
</div>
