<% if task_list_item_or_task.is_a?(TaskListItem) %>
  <% task = task_list_item_or_task.task %>
<% else %>
  <% task = task_list_item_or_task %>
<% end %>
<tr class="task <%= task.class.name.downcase %>"
  id="list_item_<%= task_list_item_or_task.id %>">
  <td class="drag_handle">
    <% if task.completed? %>
      <%= image_tag 'check.gif' %>
    <% elsif task.assignee == viewer || task.assignee_id.nil? %>
      <% form_tag complete_task_path(task) do %>
        <%= check_box_tag "complete_task_id", false, false,
          :onclick => "$(this).parents('form').submit(); return false;" %>
      <% end %>
    <% else %>
      <%= image_tag 'drag_handle.gif' %>
    <% end %>
  </td>
  <td class="task_name">
    <%= link_to h(task.title), task_path(task) %>
    <span class="tags">
      <% if !task.kind.blank? && task.kind != 'task' %>
        <span class="<%= task.kind %>"><%= task.kind %></span>
      <% end %>
    </span>
  </td>
  <td class="task_type">
    <% if task.is_a?(Deliverable) %>
      <%= image_tag "plane.gif", :title => "Deliverable" %>
    <% end %>
  </td>
  <td class="task_menu">
    <div class="task_menu_container">
      <%= link_to_function "More Actions...", "", :class => "menu_arrow" %>
      <ul class="task_menu_items">
        <li><%= link_to "Edit", edit_task_path(task) %></li>
        <li>
          <% form_for :task, :url => update_type_task_path(task),
            :html => {:method => :put} do |f| %>
            <%= hidden_field_tag :context, context %>
            <% if task.is_a?(Deliverable) %>
              <%= f.hidden_field :type, :value => "PrivateTask" %>
              <% name = "Turn into Task" %>
            <% else %>
              <%= f.hidden_field :type, :value => "Deliverable" %>
              <% name = "Turn into Deliverable" %>
            <% end %>
            <%= link_to_function name, "Tasks.updateType($(this));" %>
          <% end %>
        </li>
        <% if task.completed? %>
          <li><%= link_to "Mark Incomplete", prioritize_task_path(task),
            :method => :post %></li>
        <% elsif task.parked? %>
          <li><%= link_to "Prioritize", prioritize_task_path(task),
            :method => :post %></li>
        <% elsif task.prioritized? %>
          <li><%= link_to "Park", park_task_path(task), :method => :post %></li>
        <% end %>
          <li><%= link_to "Delete", task_path(task), :method => :delete,
            :confirm => "Are you sure you want to delete this task?" %></li>
      </ul>
    </div>
  </td>
  <% unless context == "Project" %>
    <td class="task_project<%= ' empty' unless task.project_id %>">
      <% if task.project_id %>
        <%= link_to_project task.project %>
      <% end %>
    </td>
  <% end %>
  <% unless context == "User" %>
    <td class="task_assignee<%= ' empty' unless task.assignee_id %>">
      <% if task.assignee_id %>
        <%= link_to_user task.assignee %>
      <% end %>
      <% form_for :task, task, :url => update_assignee_task_path(task),
        :html => {:class => "inline_form", :method => :put} do |f| %>
        <%= f.select :assignee_id,
          User.sorted.map{|u| [u.name, u.id]} + [["Nobody", ""]], {},
          :onchange => "$(this).parent().submit();"%>
      <% end %>
    </td>
  <% end %>
  <td class="task_estimate <%= "empty" unless task.estimate %>">
    <% form_for :task, task, :url => update_estimate_task_path(task),
      :html => {:class => "inline_form", :method => :put} do |f| %>
      <% value = task.estimate ? pluralize(task.estimate, "hour") : "" %>
      <%= f.text_field :estimate, :value => value %>
    <% end %>
  </td>
  <td class="task_due">
    <% form_for :task, task, :url => update_due_date_task_path(task),
      :html => {:class => "inline_form", :method => :put} do |f| %>
      <% value = task.due_date ? task.due_date.strftime("%b %e") : "" %>
      <%= f.text_field :due_date, :value => value %>
    <% end %>
  </td>
</tr>
