<% if tasks.any? || local_assigns[:task_object] %>
  <h2>
    <% if local_assigns[:see_all_url] %>
      <%= link_to title, see_all_url %>
    <% else %>
      <%= title %>
    <% end %>
  </h2>
  <table class="task_list<%= " unsortable" if local_assigns[:unsortable] -%>
    <%= " #{title.split(' ').first.downcase}" %>" id="<%= title.dehumanize %>">
    <% if local_assigns[:task_object] %>
      <tfoot>
        <tr>
          <th colspan="5">
            <%= render :partial => "/shared/quick_add_form",
                       :locals => {:task_object => task_object,
                                   :context => context} %>
          </th>
        </tr>
      </tfoot>
    <% end %>
    <tbody>
      <% tasks.each do |task_list_item_or_task| %>
        <%= render :partial => "/shared/task", :locals => {
            :task_list_item_or_task => task_list_item_or_task,
            :context => context
          } %>
      <% end %>
    </tbody>
  </table>
<% end %>
