<% if task_list_item_or_task.is_a?(TaskListItem) %>
  <% task = task_list_item_or_task.task %>
<% else %>
  <% task = task_list_item_or_task %>
<% end %>
<% if local_assigns[:highlight_deadlines]
     deadline_class = case
     when task.due_soon?:  "deadline_soon"
     when task.due_today?:  "deadline_today"
     else
       ""
     end
   end
%>
<tr class="task <%= task.class.name.downcase %> <%= deadline_class %>"
  id="list_item_<%= task_list_item_or_task.id %>"
  task_id="<%= task.id %>">
  <td class="drag_handle">
    <% if task.completed? %>
      <%= image_tag 'check.gif' %>
    <% elsif task.assignee == viewer || task.assignee_id.nil? %>
      <% form_tag complete_task_path(task), :class => "task_complete_form" do %>
        <%= check_box_tag "complete_task_id", false, false,
          :onclick => "$(this).parents('form').submit(); return false;" %>
      <% end %>
    <% else %>
      <%= image_tag 'drag_handle.gif' %>
    <% end %>
  </td>
  <td class="task_name<%= " deferred_task" if task.parked? && 
    task.deferred_task %>">
    <span class="editable">
      <%= link_to h(task.title), task_path(task) %>
    </span>
    <% form_for :task, task, :url => update_title_task_path(task),
      :html => {:method => :put} do |f| %>
      <%= hidden_field_tag :include_link, 1 %>
      <%= f.text_field :title %>
    <% end %>
    <span class="tags">
      <% if !task.kind.blank? && task.kind != 'task' %>
        <span class="<%= task.kind %>"><%= task.kind %></span>
      <% end %>
    </span>
  </td>
  <td class="task_menu">
    <div class="task_menu_container">
      <%= link_to_function "More Actions...", "", :class => "menu_arrow" %>
      <ul class="task_menu_items">
        <li>
          <span class="shortcut">E</span>
          <%= link_to "Edit", edit_task_path(task) %>
        </li>
        <% if task.prioritized? %>
          <li>
            <span class="shortcut">D</span>
            <%= link_to_function "Defer Task", "Tasks.parkUntil(#{task.id})" %>
          </li>
        <% end %>
        <% if task.completed? %>
          <li><%= link_to "Mark Incomplete", prioritize_task_path(task),
            :method => :post %></li>
        <% elsif task.parked? %>
          <li><%= link_to "Prioritize", prioritize_task_path(task),
            :method => :post, :class => "prioritize_task_link" %></li>
        <% elsif task.prioritized? %>
          <li>
            <span class="shortcut">P</span>
            <%= link_to "Park", park_task_path(task), :method => :post,
            :class => "park_task_link" %>
          </li>
        <% end %>
          <li>
            <span class="shortcut">!</span>
            <%= link_to "Delete", task_path(task), :method => :delete,
            :confirm => "Are you sure you want to delete this task?",
            :class => "task_delete_link" %></li>
      </ul>
    </div>
  </td>
  <% unless context == "Project" %>
    <td class="task_project<%= ' empty' unless task.project_id %>">
      <span class="editable">
        <% if task.project_id %>
          <%= link_to_project task.project %>
        <% end %>
      </span>
      <% form_for :task, task, :url => update_project_task_path(task),
        :html => {:method => :put} do |f| %>
        <%= hidden_field_tag :include_link, 1 %>
        <%= f.select :project_id,
          Project.all_for_select + [["No Initiative", ""]],
            :include_blank => "Add initiative..." %>
      <% end %>
    </td>
  <% end %>
  <% unless context == "User" %>
    <td class="task_assignee<%= ' empty' unless task.assignee_id %>">
      <span class="editable">
        <% if task.assignee_id %>
          <%= link_to_user task.assignee %>
        <% end %>
      </span>
      <% form_for :task, task, :url => update_assignee_task_path(task),
        :html => {:method => :put} do |f| %>
        <%= hidden_field_tag :include_link, 1 %>
        <%= f.select :assignee_id,
          User.sorted.map{|u| [u.name, u.id]} + [["Nobody", ""]],
            :include_blank => "Assign..." %>
      <% end %>
    </td>
  <% end %>
  <td class="task_estimate <%= "empty" unless task.estimate %>">
    <% value = task.estimate ?
      render(:partial => "/shared/task_estimate_with_units",
             :locals => {:task => task}) : "" %>
    <span class="editable">
      <% if task.estimate %>
        <%= value %>
      <% end %>
    </span>
    <% form_for :task, task, :url => update_estimate_task_path(task),
        :html => {:method => :put} do |f| %>
      <%= f.text_field :estimate, :value => value %>
    <% end %>
  </td>
  <td class="task_due">
    <% value = task.due_date ? task.due_date.strftime("%b %e") : "" %>
    <span class="editable">
      <% if task.due_date %>
        <%= value %>
      <% end %>
    </span>
    <% form_for :task, task, :url => update_due_date_task_path(task),
      :html => {:method => :put} do |f| %>
      <%= f.text_field :due_date, :value => value %>
    <% end %>
  </td>
</tr>
