<% if tasks.any? %>
  <table class="task_list" id="<%= title.dehumanize %>">
    <thead>
      <tr>
        <th colspan="5">
          <% if local_assigns[:see_all_url] %>
            <%= link_to title, see_all_url %>
          <% else %>
            <%= title %>
          <% end %>
        </th>
      </tr>
    </thead>
    <% if local_assigns[:quick_add] %>
      <tfoot>
        <tr>
          <th colspan="5">
            <%= render :partial => "/shared/quick_add_form",
                       :locals => {:exclude => exclude, :tasks => tasks} %>
          </th>
        </tr>
      </tfoot>
    <% end %>
    <tbody>
      <% tasks.each do |task| %>
        <tr id="list_item_<%= task.id %>">
          <td class="drag_handle">
            <% if task.completed? %>
              <%= image_tag "check.gif" %>
            <% elsif task.assignee == viewer %>
              <% form_tag complete_task_url(task) do %>
                <%= check_box_tag "complete_task_id", false, false,
                  :onclick => "$(this).parents('form').submit(); return false;" %>
              <% end %>
            <% else %>
              <%= image_tag 'drag_handle.gif' %>
            <% end %>
          </td>
          <td class="task_name">
            <%= link_to h(task.title), task_path(task) %>
          </td>
          <td class="task_project">
            <% if task.project_id && !exclude.include?(:project) %>
              <%= h task.project.title %>          
            <% end %>
          </td>
          <td class="task_assignee">
            <% if task.assignee_id && !exclude.include?(:assignee) %>
              <%= h task.assignee.name %>
            <% end %>
          </td>
          <td class="task_estimate">
            <% if task.estimate %>
                <%= pluralize(task.estimate, "hour") %>
            <% end %>
          </td>
          <td class="task_due">
            <% if task.due_date %>
              Due <%= task.due_date.strftime("%b %e")  %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>