<%= stylesheet_link_tag "shared/header" %>
<%= stylesheet_link_tag "projects/show" %>
<%= stylesheet_link_tag "specs/show" %>
<%= javascript_include_tag "specs/show" %>

<script type="text/javascript">
  var EDIT_SPEC_PATH =
    <%= edit_project_specification_path(@project).to_json %>;
</script>

<% 
  @hide_layout_title = true
  @title = @project.title
%>

<% with_layout "layouts/initiative" do %>
  <div id="subnav">
    <%= link_to "Edit Spec", edit_project_specification_path(@project) %>
  </div>
  <div id="spec">
    <%= highlight_rfcs(@spec.body) %>
  </div>
  <div class="clearfix" id="comment_board">
    <h2>Discussion</h2>
    <% if @project.comments.any? %>
      <ul id="comments_list">
        <% @project.comments.each do |comment| %>
          <li class="comment clearfix">
            <%= render :partial => "/shared/comment",
                       :locals => {:comment => comment} %>
          </li>
        <% end %>
      </ul>
    <% end %>
    <%= render :partial => "/shared/comment_form",
               :locals => {:commentable => @project,
                 :redirect_url => project_specification_path(@project)} %>
  </div>
<% end %>
