<%= stylesheet_link_tag "projects/show" %>
<%= stylesheet_link_tag "specs/show" %>
<%= javascript_include_tag "specs/show" %>

<script type="text/javascript">
  var EDIT_SPEC_PATH =
    <%= edit_project_specification_path(@project, @spec).to_json %>;
</script>

<% 
  @hide_layout_title = true
  @title = @project.title
%>

<%= render :partial => "/projects/project_header",
           :locals => {:project => @project} %>

<%= render :partial => "/projects/project_nav",
           :locals => {:project => @project} %>

<div id="spec">
  <%= @spec.body %>
</div>
<div>
  <ul id="comments_list">
  <% @project.comments.each do |comment| %>
    <li class="comment clearfix">
      <%= render :partial => "/shared/comment",
                 :locals => {:comment => comment} %>
    </li>
  <% end %>
  </ul>
  <%= render :partial => "/shared/comment_form",
             :locals => {:commentable => @project,
               :redirect_url => project_specification_path(@project, @spec)} %>
</div>
<div class="edit">
  <%= link_to "Edit Spec", edit_project_specification_path(@project, @spec) %>
</div>
