<div class="modify_links">
  <%= link_to("Edit", edit_project_path(project)) %>
  <span class="divider">-</span>
  <%= link_to("Park", set_inactive_project_path(project), :method => :put) %>
</div>
<%= link_to_project(project) %> 
<span class="project_category">
  &mdash; <span class="editable"><%= project.category_name %></span>
  <% form_for :project, project, :url => update_category_project_path(project),
    :html => {:method => :put, :style => "display: none"} do |f| %>
    <%= f.select :category_id, ProjectCategory.form_options,
      :include_blank => true %>
  <% end %>
</span>
