<%= stylesheet_link_tag "shared/header" %>
<%= stylesheet_link_tag "projects/nav" %>

<div class="clearfix" id="tabs">
  <div class="secondary">
    <% if @project.external_spec? %>
      <%= link_to "SPEC", @project.cleaned_spec_url, :target => :blank %>
    <% else %>
      <% path = project_specification_path(@project) %>
      <% if current_page?(path) %>
        <%= link_to "SPEC", path, :class => "current" %>
      <% else %>
        <%= link_to "SPEC", path %>
      <% end %>    
    <% end %>
  </div>
  <%
    [
      ["PRIORITIZED (#{@project.task_list.size})", project_path(@project)],
      ["COMPLETED", completed_project_path(@project)],
      ["PARKED", parked_project_path(@project)]
    ].each do |name, path|
  %>
    <% if current_page?(path) %>
      <%= link_to name, path, :class => "current" %>
    <% else %>
      <%= link_to name, path %>
    <% end %>
  <% end %>
</div>
