<% project = project_list_item.project %>
<tr id="list_item_<%= project_list_item.id %>">
  <td class="position">
    <%= i + 1 %>
  </td>
  <td class="name">
    <%= link_to_project(project) %> 
  </td>
  <td class="due_date">
    <% if project.due_date %>
      <%= project.due_date.strftime("%b %e") %>
    <% end %>
  </td>
  <td class="action_links">
    <%= link_to("Edit", edit_project_path(project)) %>
    &nbsp;&nbsp;
    <%= link_to("Park", set_inactive_project_path(project), :method => :put) %>
  </td>
</tr>
