<%= stylesheet_link_tag "shared/header" %>
<%= stylesheet_link_tag "projects/nav" %>

<div class="clearfix" id="tabs">
  <div class="secondary">
    <%= link_to_project_spec(@project, "SPEC") %>
  </div>
  <%
    [
      ["PRIORITIZED (#{@project.task_list.size})", project_path(@project)],
      ["COMPLETED", completed_project_path(@project)],
      ["PARKED", parked_project_path(@project)]
    ].each do |name, path|
  %>
    <% if current_page?(path) %>
      <%= link_to name, path, :class => "current" %>
    <% else %>
      <%= link_to name, path %>
    <% end %>
  <% end %>
</div>
