<%= javascript_include_tag "projects/header" %>
<h1>
  <div class="days_left">
    <%= pluralize(@project.days_left, "eng day") %> left on this project
  </div>
  <span id="project_title">
    <span class="editable"><%= h(project.title) %></span>
    <% form_for :project, :html => {:method => :put},
      :url => update_title_project_path(project) do |f| %>
      <%= f.text_field :title %>
    <% end %>
  </span>
  <div id="project_fields">
    <% if !project.mission.blank? %>
      <div id="project_mission">
        MISSION: <%= project.mission %>
      </div>
    <% end %>
    <%= project_fields(project) %>
  </div>
</h1>
