
<table class="task_list">
  <thead>
    <tr>
      <th colspan="5"><%= title %></th>
    </tr>
  </thead>
  <!--tfoot>
    <tr>
      <td colspan="5" class="add_task">Add task</td>
    </tr>
  </tfoot-->
  <tbody>
    <% tasks.each do |task| %>
      <tr id="list_item_<%= task.id %>">
        <td class="drag_handle">
          <% if task.completed? %>
            <%= image_tag "check.gif" %>
          <% elsif task.assignee == viewer %>
            <% form_tag complete_task_url(task) do %>
              <%= check_box_tag "complete_task_id", false, false,
                :onclick => "$(this).parents('form').submit(); return false;" %>
            <% end %>
          <% else %>
            <%= image_tag 'drag_handle.gif' %>
          <% end %>
        </td>
        <td class="task_name"><%= link_to h(task.title), task_path(task) %></td>
        <td class="task_assignee"><%= h task.assignee.name %></td>
        <td class="task_estimate"><%= task.estimate %></td>
        <td class="task_due"><%=
          task.due_date.strftime("%b %e") if task.due_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>
