<%= stylesheet_link_tag "projects/edit" %>

<% @title = "Edit Initiative" %>

<% form_for(@project) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :title, "Name:" %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    Due Date:<br />
    <%= check_box_tag :use_due_date, "1", !!@project.due_date %>
    This initiative is due on:
    <%= f.date_select :due_date, :order => [:month, :day, :year] %>
  </p>
  <p>
    <%= f.label :mission %>:<br />
    <%= f.text_field :mission %>
  </p>
  <p>
    Subscriptions:
    <ul class="clearfix" id="subscriptions_list">
      <% User.sorted.each do |u| %>
        <li>
          <%= check_box_tag 'user_ids[]', u.id,
            @project.subscriptions.map(&:user_id).include?(u.id),
            :id => "user_id_#{u.id}" %>
          <%= label_tag "user_id_#{u.id}", u.name %>
        </li>
      <% end %>
    </ul>
  </p>
  <p>
    <%= f.submit "Save Changes" %>
  </p>
<% end %>

<%= link_to 'Back to Initiative', project_path(@project) %>
