<%= stylesheet_link_tag 'shared/header' %>
<%= stylesheet_link_tag 'shared/task_list' %>
<%= stylesheet_link_tag 'projects/index' %>
<%= javascript_include_tag 'shared/task_list' %>

<script type="text/javascript">
  var AUTOCOMPLETE_DATA = <%= ((Task::KINDS.map do |kind|
    [kind, "kind", kind]
  end) + (User.active.map do |u| 
    [u.name, "assignee_id", u.id]
  end)).transpose.to_json %>;
</script>

<% @title = "Initiatives" %>

<%= render :partial => "/shared/nav",
  :locals => {:tab_links => project_tab_links} %>

<div id="task_list">
  <% @projects.each do |project| %>
    <% 
      title =
        render(:partial => "modify_project", :locals => {:project => project}) 
    %>
    <%= render :partial => "/shared/task_list",
               :locals => {:title       => title,
                           :tasks       => project.task_list.first(5),
                           :context     => project.class.name,
                           :collapsible => @task_list_state} %>
  <% end %>
</div>

<% if params[:category_id].blank? %>
  <div id="inactive_initiatives">
    <h2>Other Initiatives</h2>
    <ul class="clearfix">
    <% Initiative.inactive.each do |initiative| %>
      <%# TODO [chris]: Rename project_path to initiative_path. %>
      <li class="clearfix">
        <%= link_to "+ Add to Active",
          set_active_project_path(initiative), :method => :put,
          :class => "add" %>
        <%= link_to_project initiative %>
      </li>
    <% end %>
    </ul>
  </div>
<% end %>