<h1>Create an Initiative</h1>

<% form_for(@project) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :mission %>:<br />
    <%= f.text_field :mission %>
  </p>
  <p>
    <%= f.label :spec_url, "Spec URL" %>:<br />
    <%= f.text_field :spec_url, :value => "http://" %>
  </p>
  <p>
    <%= f.label :category_id %>:<br />
    <%= f.select :category_id, ProjectCategory.form_options %>
  </p>
  <p>
    <%= f.label :feature_id %>:<br />
    <%= f.select :feature_id, Feature.form_options, :include_blank => true %>
  </p>
  <p>
    <%= f.submit "Create Initiative" %>
  </p>
<% end %>

<%= link_to 'Back', projects_path %>
