<%= javascript_include_tag 'shared/task_list' %>
<%= stylesheet_link_tag 'shared/task_list' %>

<%= stylesheet_link_tag "projects/show" %>

<% @title = @project.title %>

<%= render :partial => "project_nav", :locals => {:project => @project} %>

<div id="project_content">
  <% task_object = Task.new(:kind => "task", :status => "prioritized",
                            :project_id => @project.id) %>
  <%= render :partial => "/shared/task_list",
             :locals => {:title => "PRIORITIZED",
                         :tasks => @project.task_list,
                         :context => @project.class.name,
                         :task_object => task_object} %>

  <%= render :partial => "/shared/task_list",
             :locals => {:title => "RECENTLY COMPLETED",
                         :tasks => @project.completed_tasks,
                         :context => @project.class.name} %>

  <% task_object = Task.new(:kind => "task", :status => "parked",
                            :project_id => @project.id) %>

  <%= render :partial => "/shared/task_list",
             :locals => {:title => "PARKING LOT",
                         :tasks => @project.parked_tasks,
                         :context => @project.class.name,
                         :task_object => task_object} %>
</div>
<div id="project_footer">
  <% if @project.active? %>
    <%= link_to "Remove from Active Initiatives",
      set_inactive_project_path(@project), :method => :put %>
    Initiative Status: <strong>Active</strong>
  <% else %>
    <%= link_to "Add to Active Initiatives",
      set_active_project_path(@project), :method => :put %>
    Initiative Status: <strong>Inactive</strong>
  <% end %>
</div>