<%= javascript_include_tag 'shared/task_list' %>
<%= stylesheet_link_tag 'shared/task_list' %>

<%= stylesheet_link_tag "projects/show" %>

<script type="text/javascript">
  var AUTOCOMPLETE_DATA = <%= ((Task::KINDS.map do |kind|
    [kind, "kind", kind]
  end) + (User.all.map do |u| 
    [u.name, "assignee_id", u.id]
  end)).transpose.to_json %>;
</script>

<% 
  @hide_layout_title = true
  @title = @project.title
%>

<%= render :partial => "project_header", :locals => {:project => @project} %>

<%= render :partial => "project_nav", :locals => {:project => @project} %>

<div id="project_content">
  <% task_object = Task.new(:kind => "", :status => "prioritized",
                            :project_id => @project.id) %>
  <%= render :partial => "/shared/task_list",
             :locals => {:title => "PRIORITIZED (#{@project.task_list.size})",
                         :tasks => @project.task_list,
                         :context => @project.class.name,
                         :task_object => task_object} %>

  <%= render :partial => "/shared/task_list",
             :locals => {:title =>
                        "RECENTLY COMPLETED (#{@project.completed_tasks.size})",
                         :tasks => @project.completed_tasks,
                         :context => @project.class.name,
                         :unsortable => true} %>

  <% task_object = Task.new(:kind => "task", :status => "parked",
                            :project_id => @project.id) %>

  <%= render :partial => "/shared/task_list",
             :locals => {:title =>
                          "PARKING LOT (#{@project.parked_tasks.size})",
                         :tasks => @project.parked_tasks,
                         :context => @project.class.name,
                         :task_object => task_object,
                         :unsortable => true} %>
</div>
<div id="project_footer">
  <div class="other_links">
    <%= link_to "Edit Initiative", edit_project_url(@project) %>
  </div>
  <% if @project.active? %>
    Initiative Status: <strong>Active</strong>
    (<%= link_to "Remove from Active Initiatives",
      set_inactive_project_path(@project), :method => :put %>)
  <% else %>
    Initiative Status: <strong>Inactive</strong>
    (<%= link_to "Add to Active Initiatives",
      set_active_project_path(@project), :method => :put %>)
  <% end %>
</div>
