<%= stylesheet_link_tag 'shared/task_list' %>
<%= stylesheet_link_tag 'shared/task_nav' %>
<%= stylesheet_link_tag "projects/show" %>

<%= javascript_include_tag 'shared/task_list' %>
<%= javascript_include_tag 'shared/task_nav' %>


<script type="text/javascript">
  var AUTOCOMPLETE_DATA = <%= ((Task::KINDS.map do |kind|
    [kind, "kind", kind]
  end) + (User.active.map do |u| 
    [u.name, "assignee_id", u.id]
  end)).transpose.to_json %>;
</script>

<% 
  @hide_layout_title = true
  @title = @project.title
%>

<% with_layout "layouts/initiative" do %>
  <div id="task_list">
    <% task_object =
      Deliverable.new(:status => "prioritized", :project_id => @project.id) %>
    <%= render :partial => "/shared/task_list",
               :locals => {:title => "",
                           :tasks => @project.task_list,
                           :context => @project.class.name,
                           :task_object => task_object,
                           :table_id    => "main_task_list"} %>
    <%= render :partial => "/shared/task_list",
               :locals => {:title =>
                          "COMPLETED THIS WEEK (#{@project.completed_tasks_this_week.size})",
                           :tasks => @project.completed_tasks_this_week,
                           :context => @project.class.name,
                           :unsortable => true} %>

  </div>
<% end %>
