<%= stylesheet_link_tag "jquery.wysiwyg.css" %>
<%= stylesheet_link_tag "projects/spec" %>

<%= javascript_include_tag "plugins/form" %>
<%= javascript_include_tag "jquery.wysiwyg.js" %>
<%= javascript_include_tag "projects/spec" %>

<% @title = @project.title %>

<%= render :partial => "project_nav", :locals => {:project => @project} %>

<% form_for :spec,
  :url => {:controller => "projects", :action => :update_spec},
  :html => {:method => :put, :id => "spec_form"} do |f| %>
  <%= f.text_area :body, :rows => nil %>
<% end %>
<div id="saving" style="visibility: hidden;">Saving changes...</div>
