<%= stylesheet_link_tag "shared/tags" %>
<%= stylesheet_link_tag "shared/result_set" %>

<% if @results.any? %>
  <% @title = "Search Results for &ldquo;#{params[:q]}&rdquo;" %>
  <div id="results_count"><%= pluralize(@results.size, "task") %> found:</div>
  <%= render :partial => '/shared/result_set',
             :locals => {:results => @results} %>
<% else %>
  <div id="empty_results_message">
    <p>
      <strong>
        No results could be found for &ldquo;<%= params[:q]%>&rdquo;.
      </strong>
    </p>
    <p>
      Please try again.
    </p>
  </div>
<% end %>
