<%= stylesheet_link_tag "shared/header" %>
<%= stylesheet_link_tag 'shared/task_list' %>

<%= javascript_include_tag 'shared/task_list' %>

<% @title = "Bugs" %>

<%= render :partial => "/shared/autocomplete_data",
           :locals => {:fields => [:assignee]} %>

<%= tabs([
  ["PRIORITIZED (#{Task.prioritized.bugs.size})", bugs_path],
  ["COMPLETED",   completed_bugs_path],
  ["PARKED",      parked_bugs_path]
]) %>

<div id="task_list">
  Show:
  <select id="filter" style="margin-bottom: 15px;">
    <option value="all">All</option>
    <% Task.sorted_assignees(@task_list_items.map(&:task)).each do |assignee| %>
      <option value="assignee<%= assignee.id %>">
        <%= assignee.name %>
      </option>
    <% end %>
  </select>

  <%# TODO [chris]: "Project" is a hack to hide the initiative column. %>
  <%= render :partial => "/shared/task_list",
             :locals => {:tasks => @task_list_items, :context => "Project",
               :task_object => Task.new(:kind => "bug", :status => "prioritized")} %>
</div>
