<% if viewer.real? %>
  <div class="clearfix" id="nav">
    <div id="add_button">
      <%= link_to image_tag("add-task.gif", :alt => "Add a Task"),
        new_task_path %>
    </div>
    <ul class="nav sf-menu clearfix" id="filters">
      <li>
        <%= link_to "YOU", user_path(viewer) %>
        <ul style="display: none">
          <li><%= link_to "Your Tasks", user_path(viewer) %></li>
          <li><%= link_to "Created by You",
            created_user_path(:id => viewer.id, :status => "prioritized") %>
          </li>
          <li><%= link_to "Subscribed by You",
            subscribed_user_path(:id => viewer.id, :status => "prioritized") %>
          </li>
        </ul>      
      </li>
      <li>
        <%= link_to "INITIATIVES", all_projects_path %>
        <ul style="display: none">
          <% project_nav_links.each do |name, url| %>
            <li><%= link_to name.split.map(&:capitalize).join(" "), url %></li>
          <% end %>
          <li class="divider">&nbsp;</li>
          <li><h3>YOUR INITIATIVES</h3></li>
          <% Project.active.followed_by(viewer).sort_by(&:title).each do |p| %>
            <li><%= link_to p.title, project_path(p) %></li>
          <% end %>
          <li class="divider">&nbsp;</li>
          <li><%= link_to "Create an Initiative...", new_project_path %></li>
        </ul>
      </li>
      <li>
        <%= link_to "PEOPLE", users_path %>
        <ul style="display: none">
          <% User.sorted.each do |u| %>
            <li><%= link_to "#{u.name}", user_path(u) %></li>
          <% end %>
        </ul>
      </li>
    </ul>
    <% if viewer.name == "Chris" %>
      <ul class="clearfix" id="notifications">
        <li><%= link_to viewer.undescribed_tasks_count,
          edit_all_task_descriptions_path %></li>
      </ul>
    <% end %>
  </div>
<% end %>