<%= stylesheet_link_tag "task_descriptions/edit_all" %>

<% @title = "Describe Tasks You've Assigned" %>

<h3>
  You have assigned <%= @tasks.size %> prioritized tasks that need a 
  description.
</h3>
<% form_tag update_all_task_descriptions_path do %>
  <ul id="task_description_fields">
    <% @tasks.each_with_index do |task, i| %>
      <li>
        <div class="assignee">
          Assigned to:
          <%= link_to task.assignee.name, user_path(task.assignee),
            :tabindex => -1 %>
        </div>
        #<%= task.id %>: <%= link_to task.title, task_path(task),
          :tabindex => -1 %>
        <% fields_for "tasks[#{task.id}]" do |f| %>
          <%= f.text_area :description %>
        <% end %>
      </li>
    <% end %>
  </ul>
  <%= submit_tag "Save Changes" %>
<% end %>
