<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Blueprint<%= ": #{@title}" if @title %></title>
    <%= stylesheet_link_tag "base" %>
    <%= stylesheet_link_tag "blueprint" %>
    <%= stylesheet_link_tag "autocomplete" %>
    <%= javascript_include_tag "jquery" %>
    <%= javascript_include_tag "user" %>
    <%= javascript_include_tag "plugins/form" %>
    <%= javascript_include_tag 'autocomplete' %>
    <%= javascript_include_tag "sortable" %>
    <%= javascript_include_tag "hoverIntent" %>
    <%= javascript_include_tag "superfish" %>
    <%= javascript_include_tag "blueprint" %>
    <script type="text/javascript">
      var AUTOCOMPLETE_DATA = <%= 
        ((Task::KINDS.map do |kind|
          [kind, "kind", kind]
        end) + (User.all.map do |u| 
          [u.name, "assignee_id", u.id]
        end) + (Project.all.map do |project|
          [project.title, "project_id", project.id]
        end)).transpose.to_json %>;
    </script>
  </head>
  <body>
    <div id="container">
      <%= render :partial => "/global/header" %>
      <%= render :partial => "/global/nav" %>
      <% if flash[:notice] %>
        <p class="notice"><%= flash[:notice] %></p>
      <% end %>
      <div id="content">
        <% if @title && !@hide_layout_title %>
          <h1><%= @title %></h1>
        <% end %>
        <%= yield %>
      </div>
    </div>
    <div id="footer">
      <span id="slogan">IT'S ALL PART OF THE PLAN</span>
      &copy; Causes 2008
    </div>
  </body>
</html>
