<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <title>Blueprint<%= ": #{@title}" if @title %></title>
  <script src="http://www.google.com/jsapi"></script>
  <%= stylesheet_link_tag "base" %>
  <%= stylesheet_link_tag "superfish" %>
  <%= stylesheet_link_tag "blueprint" %>
  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "sortable" %>
  <%= javascript_include_tag "hoverIntent" %>
  <%= javascript_include_tag "superfish" %>
  <%= javascript_include_tag "blueprint" %>
</head>
<body>
  <div id="container">
    <%= render :partial => "/global/nav" %>
    <% if flash[:notice] %>
      <p class="notice"><%= flash[:notice] %></p>
    <% end %>
    <div id="content">
      <%= yield %>
    </div>
  </div>
</body>
</html>
