<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <title>Blueprint<%= ": #{@title}" if @title %></title>
    <%= stylesheet_link_tag "base" %>
    <%= stylesheet_link_tag "blueprint" %>
    <%= stylesheet_link_tag "autocomplete" %>
    <%= javascript_include_tag "jquery" %>
    <%= javascript_include_tag "plugins/user" %>
    <%= javascript_include_tag "plugins/jquery.form" %>
    <%= javascript_include_tag "plugins/jquery.shortkeys" %>
    <%= javascript_include_tag "plugins/jquery.inlineeditor" %>
    <%= javascript_include_tag 'plugins/jquery.autocomplete' %>
    <%= javascript_include_tag "plugins/jquery.hint" %>
    <%= javascript_include_tag "plugins/jquery.sortable" %>
    <%= javascript_include_tag "plugins/jquery.superfish" %>
    <%= javascript_include_tag "blueprint" %>
    <script type="text/javascript">
      <% if viewer.real? %>
        var VIEWER_ID = <%= viewer.id %>;
      <% end %>
    </script>
  </head>
  <body>
    <div id="container">
      <%= render :partial => "/global/header" %>
      <% if flash[:notice] %>
        <div id="flash_container">
          <p class="notice"><%= flash[:notice] %></p>
        </div>
      <% end %>
      <div id="paper_bkgd">
        <div id="content">
          <% if @title && !@hide_layout_title %>
            <h1><%= @title %></h1>
          <% end %>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
