<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <title>Blueprint<%= ": #{@title}" if @title %></title>
  <script src="http://www.google.com/jsapi"></script>
  <%= stylesheet_link_tag "base" %>
  <%= stylesheet_link_tag "blueprint" %>
  <%= javascript_include_tag 'jquery' %>
</head>
<body>
  <div id="container">
    <div id="header">
      <div id="nav">
        <div id="add_links">
          <%= link_to "ADD A TASK", new_task_url(:kind => "task") %>
          <%= link_to "ADD A BUG", new_task_url(:kind => "bug") %>
        </div>
        <ul class="clearfix" id="filters">
          <li>
            <%= link_to "PROJECTS", tasks_url %>
          </li>
          <li>
            <%= link_to "PEOPLE", people_tasks_url %>
          </li>
          <li>
            <%= link_to "YOU", "" %>
          </li>
        </ul>
      </div>
    </div>
    <% if flash[:notice] %>
      <p class="notice"><%= flash[:notice] %></p>
    <% end %>
    <div id="content">
      <%= yield %>
    </div>
  </div>
</body>
</html>
