<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <title>Monocle<%= ": #{@title}" if @title %></title>
  <script src="http://www.google.com/jsapi"></script>
  <%= stylesheet_link_tag "base" %>
  <%= stylesheet_link_tag "monocle" %>
  <%= javascript_include_tag 'jquery' %>
</head>
<body>
  <div id="container">
    <div id="header">
      <div id="global_nav">
        Monocle | <%= link_to "Mockr", "http://mockr" %>
      </div>
      <h1>Monocle</h1>
      <div id="nav">
        <div id="add_links">
          <%= link_to "Add a Task", new_task_url(:kind => "task") %>
          <%= link_to "Add a Bug", new_task_url(:kind => "bug") %>
        </div>
        <ul class="clearfix" id="filters">
          <li>
            <a href="">Features</a>
          </li>
          <li>
            <a href="">People</a>
          </li>
        </ul>
      </div>
    </div>
    <div id="content">
      <%= yield %>
    </div>
  </div>
</body>
</html>
